@{
    var nomeEmpresa = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    ViewBag.Title = "Fale Conosco" + " | " + nomeEmpresa;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<div class="ui container">
    <div class="ui grid stackable middle aligned centered">
        <div class="row one column">
            <div class="column">
                <h1 class="text uppercase">Fale Conosco</h1>
                <div class="ui breadcrumb text small uppercase">
                    <a class="section" href="/">Home</a>
                    <div class="divider"> / </div>
                    <span class="active section">Fale Conosco</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row one column">
    <div class="column">
        <div class="ui grid middle aligned center aligned">
            <div class="row one column">
                <div class="ten wide computer sixteen wide tablet sixteen wide mobile column">
                    <form id="formContato">
                        @Html.AntiForgeryToken()
                        <div class="ui segment">
                            <div class="ui grid stackable top aligned left aligned grid">
                                <div class="row two column divided horizontal">
                                    <div class="column">
                                        <div class="ui form">
                                            <h4 class="ui dividing header">Informações de Contato</h4>
                                            <div class="field required">
                                                <label>Nome</label>
                                                <div class="ui left icon input">
                                                    <i class="user icon"></i>
                                                    <input type="text" name="nome" placeholder="Informe seu nome">
                                                </div>
                                            </div>
                                            <div class="two fields">
                                                <div class="field required">
                                                    <label>E-mail</label>
                                                    <div class="ui left icon input">
                                                        <i class="mail icon"></i>
                                                        <input type="email" name="email" placeholder="Informe seu e-mail" data-validate="email">
                                                    </div>
                                                </div>
                                                <div class="field required">
                                                    <label>Telefone</label>
                                                    <div class="ui left icon input">
                                                        <i class="phone icon"></i>
                                                        <input type="text" name="celular" placeholder="(00) 00000-0000" class="masked mask_phone" data-validate="phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field required">
                                                <label>Assunto</label>
                                                <div class="ui left icon input">
                                                    <i class="mail icon"></i>
                                                    <input type="text" name="assunto" placeholder="Informe o assunto">
                                                </div>
                                            </div>
                                            <div class="field required">
                                                <label>Mensagem</label>
                                                <textarea name="mensagem" placeholder="Informe sua mensagem"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <div class="ui form formPreenchido">
                                            <h4 class="ui dividing header">Informações do Contato Preenchido</h4>
                                            <div class="field required">
                                                <label>Nome</label>
                                                <div class="ui left icon input">
                                                    <i class="user icon"></i>
                                                    <input type="text" readonly name="nomePreenchido">
                                                </div>
                                            </div>
                                            <div class="two fields">
                                                <div class="field required">
                                                    <label>E-mail</label>
                                                    <div class="ui left icon input">
                                                        <i class="mail icon"></i>
                                                        <input type="email" readonly name="emailPreenchido">
                                                    </div>
                                                </div>
                                                <div class="field required">
                                                    <label>Telefone</label>
                                                    <div class="ui left icon input">
                                                        <i class="phone icon"></i>
                                                        <input type="text" readonly name="celularPreenchido" class="masked mask_phone">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field required">
                                                <label>Assunto</label>
                                                <div class="ui left icon input">
                                                    <i class="mail icon"></i>
                                                    <input type="text" readonly name="assuntoPreenchido">
                                                </div>
                                            </div>
                                            <div class="field required">
                                                <label>Mensagem</label>
                                                <textarea readonly name="mensagemPreenchido"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <button type="submit" class="ui animated button large submit primary right floated continuar" tabindex="0">
                                    <div class="visible content">Enviar</div>
                                    <div class="hidden content">
                                        <i class="send icon"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <button type="button" id="carregarUltimoContato" class="ui button large submit primary right floated" tabindex="0">
                    Carregar Último Contato
                </button>
            </div>
        </div>
    </div>
</div>